/* variables */
:root {
    --snowy: #d6e0e6;
    --grey-sky: #5f5c58;
    --light-brown: #a1795a;
    --dark-brown: #4f2523;
    --mountain-top-blue: #38515b;
    --forest-green: #1c2c1e;
    --holler-blue: #25252a;
    --night-blue: #08051b;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--night-blue);
    color: white;

    font-family: "Lato", sans-serif;
    /* font-size: 26px; */
}

.favicon {
    filter: brightness(0) saturate(100%) invert(8%) sepia(94%) saturate(5708%) hue-rotate(350deg) brightness(86%) contrast(104%);
}

.App {
    text-align: center;
}

.dealersBox {
    display: block;
    /* justify-content: center; */
}

.dealerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    row-gap: 0;
    /* grid-gap: 1em; */
    margin-top: 1em;
    justify-content: center;
    width: 100%;
    padding-bottom: 2em;
}

.dealer-showcase {
    width: auto;
    height: 20em;
}

.outfitImg {
    width: auto;
    margin-top: 1em;
    margin-bottom: 0;
    height: 30em;
}

.dealerContainer {
    display: flex;
    flex-direction: column;
}

.dealerNameBox {
    font-size: 2em;
    height: min-content;
}

.outfit-container {
    display: flex;
    flex-direction: row;
}

.outfitGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    /* grid-gap: 1em; */
    margin-top: 1em;
    justify-content: center;
    width: 100%;
    padding-bottom: 2em;
}

.boardContainer {
    width: 100vw;
    height: 100%;
    justify-content: center;
}

.gameBoard {
    display: flex;
    flex-direction: column;
}
