.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90vh;

    margin: 0 50px;
    padding: 20px 0;
    text-align: center;
    background-color: #014d43;
    box-shadow: 0 0 0 5px #282828 inset, 0 0 0 10px #969696 inset,
        0 0 6px rgba(255, 255, 255, 0.2);
}

.game-dealer-container {
    height: 100%;
}

.dealerImg {
    height: 100%;
}

.cardtable-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
    width: 60%;
}

.dealer-bank {
    padding-bottom: 1em;
}

.playing-cards-container {
    display: flex;
    justify-content: center;
}

.card-container {
    padding: 0;
    margin-left: 1em;
}

.dealer-hand-container {
    display: flex;
    justify-content: space-around;
}

.playing-card {
    height: 10em;
}

.center-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bet-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.bet-container div {
    margin: 0.5em;
}

.draw-button-container {
    display: flex;
    margin-left: 32%;
    align-items: center;
}

.draw-button {
    padding: 0.6em;
}

.player-container {
}

.calls-container {
    display: flex;
    justify-content: center;
}

.calls-container button {
    padding: 0.5em;
    border-radius: 30%;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.player-cards {
}

.call-bet {
    padding: 0.5em;
    margin-right: 1em;
    border-radius: 30%;
}

.fold {
    border-radius: 30%;
    padding: 0.5em;
}

.chip-container {
    display: flex;
    justify-content: center;
}

.chip-holder {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#chip {
    aspect-ratio: 1/1;
    height: 4em;
    border-radius: 50%;
    border: 7px dashed white;
    transition: all 1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* font-family: "Lato", sans-serif; */
    font-size: 26px;
    margin: 0px 8px;
}

/* black chip*/
.all-in {
    background-color: black;
}

/* purple chip */
.hundred-dollar {
    background-color: #301934;
}

/* red chip */
.fifty-dollar {
    background-color: red;
}

/* green chip */
.twenty-five-dollar {
    background-color: green;
}

.player-bank {
    color: black;
}
